a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Agdasima', sans-serif;
    font-style: bold

    padding 10px 2px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: white;
}
nav li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
}
.main{
    width: 100%;
    display: flex;
}
.content{
    width: 100%;
    margin-top: 8%;
    margin-left: 5%;
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 50px;
    margin-bottom: 5%;
    letter-spacing: 5px;
    font-family: 'Pacifico', 'cursive';  
}
.content h3{
    font-size: 60px;
    margin-top: 8%;
    letter-spacing: 5px;
    color: rgb(255, 0, 0)
   
}
.content h4{
    font-size: 190%;
    margin-bottom: 3%;
    color: rgb(255, 0, 0);
    font-family: 'Agdasima', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
}


.p{
    font-size: 100px;
    margin-bottom: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
span{
    color: rgb(0, 255, 26);
    font-family: 'Agdasima', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Handjet', cursive;
    font-family: 'Oswald', sans-serif;
}
nav{
   font-size: 100%;
   padding-right: 15% 20%;
   margin-bottom: 3%;
   color: green;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content p{
    font-size: 50px;
    margin-bottom: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
button{
    padding: 20px 40px;
    background: black;
    color: rgb(255, 0, 0);
    font-size: 15px;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover{
    background: rgb(255, 0, 0);
}
.image{
    width: 85%;
    height: 85%;
    margin-top: 5%;
}
img{
    width: 60rem;
}
@media screen and (max-width:1200px) {
    .content{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
        position: absolute;
        bottom: -5%;
        display: flex;
        justify-content: center;
    }
    img{
        width: 20rem;       
    }
}
@media screen and (max-width:576px) {
    .content h1{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 50%;
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content: center;
    }
    img{
        width: 25rem;       
    }
}

